# Compiler files
cache/
out/
abis/*.json

# Ignores development broadcast logs
broadcast
# /broadcast/*/31337/
# /broadcast/**/dry-run/

# Remove broadcast logs
**/*/broadcast

# Dotenv file
**/*.env

# osx
.DS_Store

# npm
**/*node_modules/

# coverage info
lcov.info

# package files
dist/

.env
.env.*
!.env.example
!.env.anvil

.vercel

package/generated.ts
